@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800");
@import url("https://fonts.googleapis.com/css2?family=Karla");

html {
  scroll-behavior: smooth;
}
.ck-editor__editable {
  box-shadow: none !important;
  min-height: 100%;
}
.ck-toolbar {
  border: 0px !important;
}
